## Part 1: Preprocessing

In [29]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import numpy as np
from tensorflow.keras.models import Model
from tensorflow.keras import layers

#  Import and read the attrition data
attrition_df = pd.read_csv('https://static.bc-edx.com/ai/ail-v-1-0/m19/lms/datasets/attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,Sales,1,2,Life Sciences,2,94,3,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,Research & Development,8,1,Life Sciences,3,61,2,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,Research & Development,2,2,Other,4,92,2,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,Research & Development,3,4,Life Sciences,4,56,3,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,Research & Development,2,1,Medical,1,40,3,...,3,4,1,6,3,3,2,2,2,2

In [30]:
# Determine the number of unique values in each column.
attrition_df.nunique()

Age                         43
Attrition                    2
BusinessTravel               3
Department                   3
DistanceFromHome            29
Education                    5
EducationField               6
EnvironmentSatisfaction      4
HourlyRate                  71
JobInvolvement               4
JobLevel                     5
JobRole                      9
JobSatisfaction              4
MaritalStatus                3
NumCompaniesWorked          10
OverTime                     2
PercentSalaryHike           15
PerformanceRating            2
RelationshipSatisfaction     4
StockOptionLevel             4
TotalWorkingYears           40
TrainingTimesLastYear        7
WorkLifeBalance              4
YearsAtCompany              37
YearsInCurrentRole          19
YearsSinceLastPromotion     16
YearsWithCurrManager        18
dtype: int64

In [31]:
attrition_df.dtypes

Age                          int64
Attrition                   object
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EnvironmentSatisfaction      int64
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [32]:
# Create y_df with the Attrition and Department columns

y_df = attrition_df[['Attrition', 'Department']]
y_df

     Attrition              Department
0          Yes                   Sales
1           No  Research & Development
2          Yes  Research & Development
3           No  Research & Development
4           No  Research & Development
...        ...                     ...
1465        No  Research & Development
1466        No  Research & Development
1467        No  Research & Development
1468        No                   Sales
1469        No  Research & Development

[1470 rows x 2 columns]

In [33]:
# Create a list of at least 10 column names to use as X data
X_columns = [
    'Education',
    'Age', 
    'DistanceFromHome', 
    'JobSatisfaction', 
    'OverTime', 
    'StockOptionLevel', 
    'WorkLifeBalance', 
    'YearsAtCompany', 
    'YearsSinceLastPromotion',
    'NumCompaniesWorked'
]
    
    
# Show the data types for X_df
X_df = attrition_df[X_columns].copy()


X_df.dtypes

Education                   int64
Age                         int64
DistanceFromHome            int64
JobSatisfaction             int64
OverTime                   object
StockOptionLevel            int64
WorkLifeBalance             int64
YearsAtCompany              int64
YearsSinceLastPromotion     int64
NumCompaniesWorked          int64
dtype: object

In [34]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_df, y_df)

In [35]:
print(X_df.columns)

Index(['Education', 'Age', 'DistanceFromHome', 'JobSatisfaction', 'OverTime',
       'StockOptionLevel', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'NumCompaniesWorked'],
      dtype='object')

In [36]:
# Convert your X data to numeric data types however you see fit
# Add new code cells as necessary
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()

X_df['OverTime'] = label_encoder.fit_transform(X_df['OverTime'])


print(X_df.dtypes)
X_df.head()

Education                  int64
Age                        int64
DistanceFromHome           int64
JobSatisfaction            int64
OverTime                   int32
StockOptionLevel           int64
WorkLifeBalance            int64
YearsAtCompany             int64
YearsSinceLastPromotion    int64
NumCompaniesWorked         int64
dtype: object

,Education,Age,DistanceFromHome,JobSatisfaction,OverTime,StockOptionLevel,WorkLifeBalance,YearsAtCompany,YearsSinceLastPromotion,NumCompaniesWorked
0,2,41,1,4,1,0,1,6,0,8
1,1,49,8,2,0,1,3,10,1,1
2,2,37,2,3,1,0,3,0,0,6
3,4,33,3,3,1,0,3,8,3,1
4,1,27,2,2,0,1,3,2,2,9

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X_df, y_df, test_size=0.2, random_state=42)
print(X_train.columns)

Index(['Education', 'Age', 'DistanceFromHome', 'JobSatisfaction', 'OverTime',
       'StockOptionLevel', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsSinceLastPromotion', 'NumCompaniesWorked'],
      dtype='object')

In [39]:
# Create a StandardScaler
scaler = StandardScaler()
# Fit the StandardScaler to the training data and testing Data
X_scaler = scaler.fit(X_train)
# Scale the training and testing data

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [40]:
print(X_train_scaled[:5])  # Display the first few rows of the scaled training data
print(X_test_scaled[:5])  # Display the first few rows of the scaled testing data

[[-0.86335572 -1.38855944  1.44039645 -1.58233648 -0.63641018  2.54747106
   0.3574354  -0.97426331 -0.67610953 -1.05916816]
 [-0.86335572 -2.04073779 -0.52269928  1.15283407 -0.63641018 -0.94552463
   0.3574354  -1.13857331 -0.67610953 -0.65943075]
 [-0.86335572 -0.84507748  1.31770296  1.15283407 -0.63641018  0.21880727
   0.3574354  -0.6456433  -0.67610953 -0.25969335]
 [ 0.09993302  0.24188644  0.3361551  -0.67061296 -0.63641018 -0.94552463
   0.3574354  -0.3170233  -0.35524399  0.53978146]
 [ 0.09993302 -0.62768469  1.31770296  0.24111056 -0.63641018  0.21880727
   0.3574354   0.50452672 -0.67610953 -0.65943075]]
[[ 0.09993302 -0.95377387 -0.52269928 -1.58233648 -0.63641018 -0.94552463
   0.3574354  -0.3170233  -0.35524399 -1.05916816]
 [-0.86335572  1.76363593  0.45884859 -1.58233648 -0.63641018  1.38313917
   0.3574354  -0.4813333  -0.35524399 -0.65943075]
 [-1.82664446 -1.38855944  1.56308993  0.24111056 -0.63641018  0.21880727
   0.3574354  -0.97426331 -0.67610953 -0.65943075]
 [ 0.09993302  0.8940648  -0.27731231 -1.58233648 -0.63641018  0.21880727
   0.3574354  -0.97426331 -0.67610953 -0.25969335]
 [-0.86335572 -0.08420273 -0.52269928 -0.67061296 -0.63641018 -0.94552463
   1.79696974  0.99745672  0.28648709  2.13873108]]

In [43]:
# Create a OneHotEncoder for the Department column
from sklearn.preprocessing import OneHotEncoder

OHE = OneHotEncoder(sparse_output=False)

# Fit the encoder to the training data
y_df_encoded  = OHE.fit_transform(y_df[['Department']])

# Create two new variables by applying the encoder
# to the training and testing data

y_test_encoded_dept = OHE.transform(y_test[['Department']])
y_df_encoded

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [44]:
# Create a OneHotEncoder for the Attrition column
ohc = OneHotEncoder(sparse_output=False)


# Fit the encoder to the training data
y_df_encoded_att = ohc.fit_transform(y_df[["Attrition"]])


# Create two new variables by applying the encoder
# to the training and testing data
y_test_encoded_att = ohc.transform(y_test[['Attrition']])
y_df_encoded_att

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

## Create, Compile, and Train the Model

In [48]:
# Find the number of columns in the X training data
num_columns_X_train = X_train.shape[1]

# Create the input layer
input_layer = layers.Input(shape=(num_columns_X_train,), name='input_features')


# Create at least two shared layers
shared_layer1 = layers.Dense(64, activation='relu')(input_layer)
shared_layer2 = layers.Dense(32, activation='relu')(shared_layer1)

In [49]:
# Create a branch for Department
# with a hidden layer and an output layer

# Create the hidden layer


# Create the output layer
department_hidden_layer = layers.Dense(64, activation='relu')(shared_layer2)

department_output = layers.Dense(3, activation='softmax', name='department_output')(department_hidden_layer)

In [50]:
# Create a branch for Attrition
# with a hidden layer and an output layer

# Create the hidden layer

attrition_hidden_layer = layers.Dense(32, activation='relu')(shared_layer2)

# Create the output layer
attrition_output = layers.Dense(2, activation='softmax', name='attrition_output')(attrition_hidden_layer)

In [52]:
# Create the model
model = Model(inputs=input_layer, outputs=[department_output, attrition_output])


# Compile the model
model.compile(optimizer='adam',
              loss={'department_output': 'categorical_crossentropy', 'attrition_output': 'binary_crossentropy'},
              metrics={'department_output': 'accuracy', 'attrition_output': 'accuracy'})


# Summarize the model
             
model.summary()

Model: "functional_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                  ┃ Output Shape              ┃         Param # ┃ Connected to               ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
│ input_features (InputLayer)   │ (None, 10)                │               0 │ -                          │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_4 (Dense)               │ (None, 64)                │             704 │ input_features[0][0]       │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_5 (Dense)               │ (None, 32)                │           2,080 │ dense_4[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_6 (Dense)               │ (None, 64)                │           2,112 │ dense_5[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ dense_7 (Dense)               │ (None, 32)                │           1,056 │ dense_5[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ department_output (Dense)     │ (None, 3)                 │             195 │ dense_6[0][0]              │
├───────────────────────────────┼───────────────────────────┼─────────────────┼────────────────────────────┤
│ attrition_output (Dense)      │ (None, 2)                 │              66 │ dense_7[0][0]              │
└───────────────────────────────┴───────────────────────────┴─────────────────┴────────────────────────────┘

 Total params: 6,213 (24.27 KB)

 Trainable params: 6,213 (24.27 KB)

 Non-trainable params: 0 (0.00 B)

In [53]:
# Train the model
history = model.fit(X_df, {'department_output': y_df_encoded, 'attrition_output': y_df_encoded_att}, epochs=10, batch_size=32, validation_split=0.2)

Epoch 1/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - attrition_output_accuracy: 0.7207 - department_output_accuracy: 0.3937 - loss: 2.9879 - val_attrition_output_accuracy: 0.8503 - val_department_output_accuracy: 0.6020 - val_loss: 1.4309
Epoch 2/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8353 - department_output_accuracy: 0.6542 - loss: 1.2471 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.3587
Epoch 3/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8409 - department_output_accuracy: 0.6825 - loss: 1.1936 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6054 - val_loss: 1.2986
Epoch 4/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8441 - department_output_accuracy: 0.6273 - loss: 1.2206 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.3035
Epoch 5/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8286 - department_output_accuracy: 0.6879 - loss: 1.1552 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.2649
Epoch 6/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8329 - department_output_accuracy: 0.6496 - loss: 1.1999 - val_attrition_output_accuracy: 0.8571 - val_department_output_accuracy: 0.6020 - val_loss: 1.2569
Epoch 7/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8457 - department_output_accuracy: 0.6718 - loss: 1.1205 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.2733
Epoch 8/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8302 - department_output_accuracy: 0.6639 - loss: 1.1545 - val_attrition_output_accuracy: 0.8537 - val_department_output_accuracy: 0.6020 - val_loss: 1.2618
Epoch 9/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - attrition_output_accuracy: 0.8445 - department_output_accuracy: 0.6806 - loss: 1.1558 - val_attrition_output_accuracy: 0.8639 - val_department_output_accuracy: 0.6020 - val_loss: 1.3110
Epoch 10/10
37/37 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - attrition_output_accuracy: 0.8553 - department_output_accuracy: 0.6925 - loss: 1.1071 - val_attrition_output_accuracy: 0.8673 - val_department_output_accuracy: 0.5578 - val_loss: 1.2619

In [56]:
# Evaluate the model with the testing data
results = model.evaluate(X_test_scaled,  {'department_output': y_test_encoded_dept, 
                                             'attrition_output': y_test_encoded_att})

10/10 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - attrition_output_accuracy: 0.3046 - department_output_accuracy: 0.4742 - loss: 1.8525

In [63]:

print(f"Department predictions accuracy: {results}")
print(f"Attrition predictions accuracy: {results}")

Department predictions accuracy: [1.872273325920105, 0.29591837525367737, 0.47278910875320435]
Attrition predictions accuracy: [1.872273325920105, 0.29591837525367737, 0.47278910875320435]

In [18]:
# Print the accuracy for both department and attrition

Department predictions accuracy: 0.5271739363670349
Attrition predictions accuracy: 0.8260869383811951

# Summary

In the provided space below, briefly answer the following questions.

1. Is accuracy the best metric to use on this data? Why or why not?

2. What activation functions did you choose for your output layers, and why?

3. Can you name a few ways that this model might be improved?

YOUR ANSWERS HERE

1. 
2. 
3.

1. The data looks like it's imbalanced.
2. The sigmoid worked for both although the softmax might work better for future occuernces.
3. More data to worj with in terms of X columns and adding more layers while tweaking the parameters.